@import url("./assets/fonts/index.css");
@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");

/* Resetting browser defaults */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-image: radial-gradient(
    circle 400px at 6.8% 8.3%,
    rgba(255, 244, 169, 1) 0%,
    rgba(255, 244, 234, 1) 100.2%
  );
  --logo-background: #f783ac;
  --text-primary: #1a1b1e;
  --text-secondary: #909296;

  /* Board Colors */
  --board-background-color: #074f5b;
  --board-border: #063b45;
  --board-shadow: rgb(0 0 0 / 35%);

  /* Shadow Colors */
  --dark-shadow: rgb(0 0 0 / 10%);
  --light-shadow: rgb(255 255 255 / 10%);

  /* Preview Colors */
  --preview-background: rgba(0, 0, 0, 0.1);
  --preview-border: 10px solid rgba(0, 0, 0, 0);

  /* Tetrominoes Colors */
  --tetromino-i-color: #4dabf7;
  --tetromino-o-color: #f7bc0b;
  --tetromino-t-color: #9775fa;
  --tetromino-s-color: #51cf66;
  --tetromino-z-color: #fa5252;
  --tetromino-j-color: #0e80e4;
  --tetromino-l-color: #ff922b;

  /* Tetromino Sparkle */
  --tetromino-sparkle: rgb(255 255 255 / 40%);

  /* Tetromino Ghost */
  --tetromino-ghost: rgb(255 255 255 / 20%);
}

[data-theme="dark"] {
  --background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);
  --logo-background: #1971c2;
  --text-primary: #ffffff;
  --text-secondary: #e6ebef;

  /* Board Colors */
  --board-background-color: #0d0040;
  --board-border: #070218;
  --board-shadow: rgb(0 0 0 / 35%);

  /* Preview Colors */
  --preview-background: rgba(255, 255, 255, 0.4);
  --preview-border: 10px solid rgba(255, 255, 255, 0);
}

body {
  font-family: sans-serif;
  width: 100%;
}
