.gameStats {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style-type: none;
}

.gameStats__title {
  font-size: 16px;
  font-weight: normal;
  color: var(--text-secondary);
}

.gameStats__value {
  font-size: 36px;
  font-weight: 600;
}

@media (max-width: 768px) {
  .gameStats__title {
    font-size: 14px;
  }

  .gameStats__value {
    font-size: 28px;
  }
}

@media (max-width: 425px) {
  .gameStats {
    max-width: 100%;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
  }

  .gameStats__title,
  .gameStats__value {
    text-align: center;
  }
}
